.container {
    display: flex;
    justify-content: space-between;

    margin: 20px;
}

.searchContainer {
    margin: 20px;
    border-radius: 20px;
}

.searchBox {
    width: 400px;
    height: 50px;

    margin-bottom: 10px;
}

.searchButton {
    width: 80px;
    height: 50px;

    border-radius: 10%;
}

.dataContainer {
    display: grid;
    width: 500px;
    height: 800px;
    background-color: #302b63;
  
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    min-height: 100px; /* 최소 높이 설정 */
}
