.container {
  display: grid;
  width: 1000px;
  height: 800px;
  background-color: rgba(128, 0, 128, 0.8);

  padding: 10px;
  border-radius: 20px;

  grid-template-columns: 1fr 1fr;
}

.label {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  padding: 10px;

  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.create {
  background-image: url('./image/product.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.update {
  background-image: url('./image/update.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin: 20px;
  border: 1px solid;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.statistics {
  background-image: url('./image/statistics.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin: 20px;
  border: 1px solid;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.search {
  background-image: url('./image/search.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  margin: 20px;
  border: 1px solid;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}